<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages validateRequest="false"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="smackbio.websocketsdk.deviceLoginManager" value="SmackBio.WebSocketSDK.Sample.DeviceLoginManager, WebSocketSDK"/>
    <add key="check_cloud_id" value="false"/>
    <!--<add key="check_cloud_id" value="true"/>-->
    <!--<add key="valid_cloud_id" value="cloudid12345678"/>-->
  </appSettings>
  <system.webServer>
    <handlers>
      <add path="/wssample/ws" verb="*" name="GenericHandler" type="SmackBio.WebSocketSDK.GenericHandler"/>
    </handlers>
  </system.webServer>
</configuration>